<a href="https://colab.research.google.com/github/AKSHAYRAOCH/2216102_AIML_Bootcamp/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#if statements

var=100
if var>0:
  print("true")
  print(var)


var1=0
if var1>0:
  print("True")
  print(var1)
else:
  print("false")
  print(var1)

true
100
false
0

In [ ]:
#nested if statements
#bus tickets example

age=int(input("Enter your age"))
if age>12 and age<=18:
  if age<18:
    print("Quarter tickect implies")
  elif age==5:
    print("quarter ticket + discount")
  else:
    print("half ticket")
elif age>=19 and age<=60:
  print("full ticket")
elif age>60:
  print("Full ticket with discount")
else:
  print("No Ticket")

Enter your age55
full ticket

In [ ]:
# for loop
number=[6,6,4,6,4,2,6,7,9,32,12]
sum=0
for val in number:
  sum=sum+val
print(sum)

for i in range(1,11):
  print(i)

print("\n")

for i in range(1,11,2):
  print(i)
x=[2,3,4,5,6,7,8]
y=[]
for a in x:
 if a%2==0:
   y.append(a)
print(y)


#using statements in for loop
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("no items left")
print("\n")


for l in "python":
  print("current letter is ",l)
print("\n")
fruit=['apple','banana','grapes']
for index in range(len(fruit)):
  print('current fruit:',fruit[index])

94
1
2
3
4
5
6
7
8
9
10


1
3
5
7
9
[2, 4, 6, 8]
0
1
5
no items left


current letter is  p
current letter is  y
current letter is  t
current letter is  h
current letter is  o
current letter is  n


current fruit: apple
current fruit: banana
current fruit: grapes

In [ ]:
#while loop
count=0
while count<11:
  print("the count is ", count)
  count+=1
print("\n")
count=0
while count<5:
  print(count,"is less than 5")
  count+=1

the count is  0
the count is  1
the count is  2
the count is  3
the count is  4
the count is  5
the count is  6
the count is  7
the count is  8
the count is  9
the count is  10


0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [ ]:
#matrixes in python
x=[[12,13,14],[1,6,2],]

In [ ]:
num=int(input("enter till which table you want to print"))
i=1
while(i<=num):
  print(f"table {i}")#raw string
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("-------------------")
  i+=1

enter till which table you want to print5
table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
-------------------
table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
-------------------
table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
-------------------
table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
-------------------
table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
-------------------

In [ ]:
State_list = ['Delhi','Telangana','Goa','AP','Kerala']
str=""
for i in State_list:
  str+=i[0].lower()+i[-1].upper()
print(str)

dItAgAaPkA

In [ ]:
Ip: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’]
res=(filter(lambda x:x.startswith('a'),I/P))
print(res)

SyntaxError: ignored